:host {
  display: block;
  background: #25222c;
  height: 6px;
  border-radius: 3px;
}

.percent {
  background: linear-gradient(270deg, #f84982 2%, #e793ae 114%);
  border-radius: 3px;
  height: 100%;
}
