<div class="card">
  <div class="card-body">
    <h4 class="name">{{ user.meta.name }}</h4>
    <div class="rank">
      <app-rank-card class="valve" [source]="'valve'" [skillLevel]="this.valveSkillLevel"></app-rank-card>
      <app-rank-card *ngIf="!!this.faceItSkillLevel" class="faceit" [source]="'faceit'"
        [skillLevel]="this.faceItSkillLevel || 0"></app-rank-card>
    </div>
    <div class="data">
      <div class="stats">
        <div class="stat">
          <div class="stat-text">
            <strong>Aim:</strong>
            <div class="percent">{{user.recentGameRatings.aim | number: '2.0-0' }}</div>
          </div>
          <app-progress [value]="user.recentGameRatings.aim"></app-progress>
        </div>
        <div class="stat">
          <div class="stat-text">
            <strong>Utility:</strong>
            <div class="percent">{{user.recentGameRatings.utility | number: '2.0-0' }}</div>
          </div>
          <app-progress [value]="user.recentGameRatings.utility"></app-progress>
        </div>
        <div class="stat">
          <div class="stat-text">
            <strong>Positioning:</strong>
            <div class="percent">{{user.recentGameRatings.positioning | number: '2.0-0' }}</div>
          </div>
          <app-progress [value]="user.recentGameRatings.positioning"></app-progress>
        </div>
        <div class="stat">
          <div class="stat-text">
            <strong>Opening:</strong>
            <div class="percent">{{user.recentGameRatings.opening * 100 | number: '1.0-2' }}</div>
          </div>
          <app-progress [min]="-50" [max]="50" [value]="user.recentGameRatings.opening"></app-progress>
        </div>
        <div class="stat">
          <div class="stat-text">
            <strong>Clutch:</strong>
            <div class="percent">{{user.recentGameRatings.clutch*100 | number: '1.0-2' }}</div>
          </div>
          <app-progress [min]="-15" [max]="15" [value]="user.recentGameRatings.clutch*10"></app-progress>
        </div>
      </div>
      <div class="leetify-rating">
        <h3>
          LEETIFY RAITING
        </h3>
        <div class="rating">
          <svg  height="84" width="84">
            <circle fill="transparent" shape-rendering="geometricPrecision" cx="50%"
              cy="50%" class="background" r="34" stroke-width="4"></circle>
            <circle fill="transparent" shape-rendering="geometricPrecision" cx="50%"
              cy="50%" class="outline poor" stroke-dasharray="213.62830044410595 213.62830044410595"
              stroke-width="4" r="34" stroke-dashoffset="144.1991027997715"></circle>
            <text x="50%" text-anchor="middle" class="score-text ng-star-inserted" y="60%">
              {{user.recentGameRatings.leetify*100|number: '1.0-2'}}
            </text>
          </svg>
        </div>
        <div class="text-center">POOR</div>
      </div>

    </div>
    <div class="buttons">
      <a class="profile" _blank href="https://leetify.com/app/profile/{{this.user.meta.steam64Id}}">Profile</a>
      <a *ngIf="this.user.club" class="clan" _blank
        href="https://leetify.com/app/clubs/dashboard/{{this.user.club.id}}">Clan</a>
    </div>
  </div>
</div>
